/* CSS DOocument */

section {
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

mat-card {
    margin: 15px;
    transition: all 0.2s;
    background-image: linear-gradient(rgb(119, 140, 255), rgb(119, 160, 255), rgb(119, 180, 255));
}

mat-card:hover {
    opacity: 0.8;
}

mat-card, button {
    padding: 0!important;
    width: 45%;
    min-width: 250px;
    min-height: 200px;
}

button {
    width: 100%!important;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

button:focus {
    outline-style: none;
}

mat-icon {
    font-size: 25px;
    margin-right: 5px;
    margin-bottom: -10px!important;
    
}

span {
    min-width: 250px;
    color: white;
    font-size: 24pt;
    font-weight: 500;
    margin: 5px;
}
/* 
.todos-card {
    background-image: linear-gradient(rgb(143, 143, 143), rgb(160, 160, 160), rgb(199, 199, 199));
}

.meus-planos-card {
    background-image: linear-gradient(rgb(255, 160, 52), rgb(255, 186, 95),rgb(255, 214, 137));
}

.iniciados-card {
    background-image: linear-gradient(rgb(113, 135, 255), rgb(130, 167, 255), rgb(148, 196, 255));
}

.concluidos-card {
    background-image: linear-gradient(rgb(130, 255, 81), rgb(154, 255, 140), rgb(157, 255, 190));
}

.suspensos-card {
    background-image: linear-gradient(rgb(255, 235, 52), rgb(255, 232, 102), rgb(233, 252, 149));
}

.cancelados-card {
    background-image: linear-gradient(rgb(255, 77, 77), rgb(255, 122, 122), rgb(255, 181, 159));
} */