<!-- HTML Document -->

<mat-list>
  
  <div *ngIf="!typePlans.length>0" class="no-plan-container">
    <h2>Não há tipos de plano cadastrado !</h2>
  </div>

  <div class="type-list-content" *ngFor="let typePlan of typePlans">
    
    <mat-list-item>
    
      <span class="span-type-plan">{{typePlan}}</span>

      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon class="color-gray icon-big">more_vert</mat-icon>
      </button>

      <mat-menu #menu="matMenu">

        <button mat-menu-item class="color-gray">
          <span>
            <mat-icon>edit</mat-icon>
            Editar
          </span>
        </button>

        <button mat-menu-item class="color-gray" (click)="removePlanType(typePlan)">
          <span>
            <mat-icon>delete</mat-icon>
            Remover
          </span>
        </button>

      </mat-menu>

    </mat-list-item>

    <mat-divider></mat-divider>

  </div>

</mat-list>