<!-- HTML Document -->

<mat-drawer-container [hasBackdrop]="false">
  <mat-drawer #drawer [mode]="over">
    <button mat-button class="nav-button" (click)="planService.setTitle(1)" routerLinkActive="mat-active" routerLink="/VisaoGeral">Visão Geral</button>
    <button mat-button class="nav-button" (click)="planService.setTitle(2)" routerLinkActive="mat-active" routerLink="/Planos">Planos</button>
    <button mat-button class="nav-button" (click)="planService.setTitle(3)" routerLinkActive="mat-active" routerLink="/TiposDePlano">Tipos de Plano</button>
  </mat-drawer>

  <button *ngIf="menuButtonShow" mat-icon-button class="menu-button" (click)="showSideMenu(drawer)">
    <mat-icon class="color-white">menu</mat-icon>
  </button>

  <div class="planner-content">
    <mat-card class="title-card">
      <h1>{{planService.title}}</h1>
    </mat-card>

    <div *ngIf="!router.isActive('VisaoGeral', true)" class="div-add-plan">
      <button mat-icon-button class="button-add-plan" routerLink="CriarPlano" (click)=" router.isActive('TiposDePlano', true) ? openCreateTypePlanBottomSheet() : openCreatePlanBottomSheet()">
        <mat-icon class="icons-button">add</mat-icon>
      </button>
    </div>

    <mat-card class="plans-card">
      <router-outlet></router-outlet>
    </mat-card>

    <footer>
      <div class="footer-text1 div-footer">
        ©FORLOGIC 2019
      </div>

      <div class="footer-text2 div-footer">
        PLANNER
      </div>

      <div class="footer-line"></div>
    </footer>
  </div>

</mat-drawer-container>

<button *ngIf="showButtonGoTop" mat-icon-button class="top-button" (click)="goTop()"><mat-icon class="icons-button">arrow_drop_up</mat-icon></button>