/* CSS Document */

.dialog-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

h3 {
    width: 100%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 14pt;
}

section {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: flex-end;
}

button {
    font-size: 12pt;
    transition: all 0.2s;
    min-width: 40%;
}

.main-button {
    color: white;
    background-color: rgb(61, 161, 255);
}

.secundary-button {
    color: rgb(61, 161, 255);
    background-color: rgba(255, 255, 255, 0);
}

button:hover {
    -webkit-transform: scale(1.1);
}
