<!-- HTML Document -->

<mat-toolbar>
  <button mat-icon-button class="menu-button">
    <mat-icon>menu</mat-icon>
  </button>
  <img class="logo-qualiex" src="../assets/images/qualiex_logo_branco.png" alt="Logo-Qualiex">
  <button class="select-application-button" aria-haspopup="true">
    <div class="title-section">
      <span class="span-big span-left">Planner</span>
      <span class="span-small span-left">Gestão estratégica</span>
    </div>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  <div class="fill-space"></div>
  <button class="att-button no-screen">ATUALIZAÇÕES</button>
  <button class="att-button att-option"><mat-icon>cached</mat-icon></button>
  <button class="perfil-button">
    <div class="user-section">
      <span class="span-medium span-right hide-user">Usuário Qualiex</span>
      <span class="span-small span-right hide-user">Unidade</span>
    </div>
    <img class="user-icon" src="../assets/images/user_icon.png" alt="icone-usuário">
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
