/* CSS Document */

mat-toolbar {
    background-color: rgb(29, 99, 250);
    max-height: 50px;
    width: 100%;
}

.menu-button {
    margin-right: 10px;
}

.logo-qualiex {
    margin-right: 40px;
}

.select-application-button, .att-button, .perfil-button {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: rgba(255, 255, 255, 0);
    border: 0px;
    border-left: 1px solid rgba(0, 0, 0, 0.171);
    border-radius: 0px;
}

.select-application-button:focus, .att-button:focus, .perfil-button {
    outline-style: none;
}

.perfil-button {
    justify-content: flex-end;
}

.title-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    height: 100%;
    margin-left: 5px;
    border-left: 4px solid rgb(22, 170, 255);
    width: 100%;
    padding-right: 10px;
}

.span-left {
    margin-left: 12px;
    width: 100%;
    text-align: left;
}

.span-right {
    width: 100%;
    text-align: right;
}

.span-big {
    font-size: 12pt;
    color: white;
}

.span-medium {
    font-size: 10pt;
    color: white;
}

.span-small {
    font-size: 8pt;
    font-weight: 100;
    color: rgba(233, 251, 255, 0.85);
}

.att-button {
    font-weight: 100;
    font-size: 10pt;
    color: rgba(233, 251, 255, 0.85);
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid rgba(0, 0, 0, 0.171);
}

.fill-space {
    width: 100%;
    height: 100%;
}

.user-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin-left: 30px;
}

.user-icon {
    height: 32px;
    width: 32px;
    border-radius: 30px;
    background-color: rgba(0, 0, 51, 0.753);
    border: 1px solid rgba(255, 255, 255, 0.459);
    padding: 2px;
    margin-left: 10px;
}