/* CSS DOocument */

* {
    color: black;
}

mat-icon {
    color: white;
    font-size: 35px;
    margin-left: -10px;
}

.no-plan-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.no-plan-container h2 {
    color: rgb(44, 44, 44);
    font-weight: 500;
}

.example-container {
    width: 400px;
    max-width: 100%;
    margin: 0 25px 25px 0;
    display: inline-block;
    vertical-align: top;
}
  
.example-list {
    width: 100%!important;
    min-height: 60px;
    background: white;
    border-radius: 4px;
    overflow: hidden;
    display: block;
    padding-top: 20px;
}
  
.example-box {
    padding: 20px 10px;
    border-bottom: solid 1px #ccc;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
    background: white;
    font-size: 14px;
    width: 100%;
}
  
.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
                0 8px 10px 1px rgba(0, 0, 0, 0.14),
                0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
  
.cdk-drag-placeholder {
    opacity: 0;
}
  
.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}
  
.example-box:last-child {
    border: none;
}
  
.example-list.cdk-drop-list-dragging .example-box:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.info-plan, .action-plan {
    display: flex;
    flex-direction: column;
}

.info-plan {
    width: 100%;
    height: 100%;
}
  
.action-plan {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.mat-menu-item {
    background-color: white;
    display: flex;
    align-items: center;
}

.mat-menu-item mat-icon {
    font-size: 20px;
    color: gray;
}

.user-icon {
    height: 32px;
    width: 32px;
    border-radius: 30px;
    background-color: rgba(0, 0, 51, 0.753);
    padding: 4px;
    margin-left: 10px;
}

.span-big {
      font-size: 16pt;
      font-weight: 500;
}

.span-medium {
    font-size: 12pt;
}

.text-right {
    text-align: right;
}

.color-black, .span-big {
    color: black;
}

.color-gray {
    color: gray;
}

.action-icon {
    margin: 0;
}

.action-span {
    text-align: left;
    width: 100%;
}